body {
    background: linear-gradient(to right, rgb(17, 17, 17), rgb(46, 46, 46));
}



#page-title {
    margin-top: 20px;
    color: rgb(209, 166, 255);
    -webkit-text-stroke: 1px rgb(123, 0, 255);
    text-shadow: 0px 0px 20px rgb(123, 0, 255);;
}

#leodaweeb-img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border: 2px solid rgb(209, 166, 255);
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 10px 2px rgb(123, 0, 255);
}

#little-label {
    color: rgb(131, 131, 131);;
    margin-top: 20px;
}

#timer {
    font-size: 2.5rem;
    color: rgb(209, 166, 255);
    -webkit-text-stroke: 1px rgb(123, 0, 255);
    text-shadow: 0px 0px 20px rgb(123, 0, 255);
}